/*reset des marges intérieures et extérieures des différents éléments de notre page 
pour nous assurer d’avoir un affichage cohérent d’un navigateur à l’autre.*/
 * {
  margin:0px;
  padding: 0px;
  box-sizing: border-box;
  }

/*EN TETE*/
header {
  display: flex;
  position: sticky; 
  width: 100%;
  height: 80px;
  background-color: rgb(255, 255, 255);
  z-index: 3; 
  top: 0;
  left: 0;
  padding: 20px 20px; /*écart interne dans le header*/
}
header .logo {
  margin-left: 10%;
  margin-right: auto;
}
.logo {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  white-space: nowrap;
}
.logo img {
  max-height: 100%;
}
.logo img:nth-child(1) {
  margin-right: 20px; /*marge droite du 1er enfant soit entre logo1 et logo2*/
}
/*animation 1er logo header à gauche 1er enfant au survol*/
/* accès 1er enfant*/
.logo:hover img:nth-child(1) {
  animation-name: animation_logo;
  animation-duration: 0.5s;
  transition-timing-function: ease-in;
}
@keyframes animation_logo {
  from {
    transform: rotate(0deg); /*départ de l'animation à partir*/
  }
  20% {
    transform: rotate(15deg);
  }

  40% {
    transform: rotate(-15deg);
  }

  60% {
    transform: rotate(15deg);
  }

  80% {
    transform: rotate(-15deg);
  }

  to {
    transform: rotate(0deg); /*retour initial*/
  }
}
/*BARRE NAVIGATION*/

header nav {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-right: 500px ;/*écart du menu de 400px à partir de la gauche*/
}
header nav ul {
  display: flex;
  align-items: center; /*aligne les éléments au centre*/
  height: 100%; 
  margin: auto; /*à 0*/
  list-style-type: none; /*enlève les puces de la liste*/
  
}

header nav ul li {
  padding-right: 40px; /*padding au lieu de margin permet d'avoir un lien clicable plus élargi*/
  flex:1 1 1; /*nos différents éléments de menu vont tous avoir la même taille de base avec flex-basis : 0 et vont pouvoir grandir 
  ou rétrécir pour absorber l’espace vide du menu ou pour faire de la place à de nouveaux éléments.*/
   /*écart entre les menus*/
}

header nav ul li a {
  color: #212832;
  font-family: Arial,sans-serif;
  font-size: 17px;
  font-weight: 500;
  text-decoration: none; /*pas de surlignage sous les liens du menu*/
}

nav a:hover {
  text-decoration: underline; /*fait apparaitre une bordure inférieure lors du survol*/
}
header .menu_burger{
  display: none;
 /*visibility: hidden; */

}

/*TITRES*/

h1 {
  font-family: "volkhov-bold";/*relié au fichier font.css*/
  color: white;
  font-size: 90px;
  line-height: 100px;
  margin: 20px;
}

h2 {
  font-family: "volkhov-bold";
  color: #14183E;
  font-size: 50px;
  line-height: 64px;
  margin-bottom: 40px;
}

h3 {
  font-family: "poppins-bold";
  color: rgb(177, 72, 60);
  font-size:20px;
  text-transform: uppercase;
}

h4 {
  font-family: "poppins-bold";
  color: #5E6282;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}

h5 {
  font-family: "poppins-regular";
  color: rgba(255, 255, 255, 0.6); /*transparence*/
  font-size: 16px;
}

/*COULEURS TEXTE*/
button {
  color: #fff;
}

figcaption {
  color: #5e6282;
}

.t_noir {
  color: #000;
  font-family: poppins-bold;
  font-weight: 500;
}

.t_rose {
  color: #df6951;
}

.t_gris1 {
  color: rgba(226, 224, 224, 0.7);
}

.t_gris2 {
  color: rgba(128, 128, 128, 0.5);
}

.t_gris3 {
  color: #3e3f43;
}

.t_bleu {
  color: rgb(78, 78, 126);
}

.t_gris_bleu {
  color: #5E6282;
}
p,figcaption,button,a,label,input {
  font-family: "poppins-regular";
  font-weight: 400;
  font-style: normal;
  text-align: left;
}

/*BOUTONS*/

.bouton {
  display: inline-block;
  vertical-align: middle;
  font-size: 18px Arial, Helvetica, sans-serif;
  padding: 20px 30px;
  border: none;
  border-radius:7px;
  cursor: pointer;
  transition: transform 0.2s;
}

.bouton.orange {
  background-color: rgba(240, 169, 16,1);
  box-shadow: 0px 20px 30px 10px rgba(241, 165, 1, 0.1); /*ombre et transparence*/
  font-size: 20px;
  border-radius: 15px;
}

.bouton:hover {
  transform: scale(1.03);
  opacity: 0.9;
}

/* conteneur OBJETS*/

._objets {
  display: flex;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

section {
  position: relative;
  padding: 100px 10% 100px 10%;
  overflow: hidden;
}
section article {
  max-width: 650px;/*taille maxi*/
}
/*session en arrière plan*/
section::after { 
  content: ""; /*La propriété content est utilisée avec les pseudo-éléments ::before et ::after afin de générer le contenu 
  d'un élément ici vide on peut très bien suivant l'élément choisi exemple lui rajouter un point à la fin, un tiret, créer une ligne sous un titre .
   idem pour ::before.
   on peut aussi rajouter des guillemets pour des blockotes....*/
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

/*SECT1*/

#sect1 {
  background-image: url("../img/illustration_principale.jpg");
  background-size: cover; /*L'image est redimensionnée pour être aussi grande que possible et pour conserver ses proportions.
   L'image couvre toute la largeur ou la hauteur du conteneur et les parties qui dépassent sont rognées si les proportions du conteneur
   sont différentes (il n'y aucun espace libre sur lequel on verrait la couleur d'arrière-plan).*/
}

#sect1 .souligne_rose {
  background: url("../img/souligne_rose.svg") no-repeat;
}
#sect1 .souligne_rose {
  margin: 50px 0 20px;
  background-position: 15px 95%; /*15px à partir de la gauche et 95% souligné rose*/
}
#sect1 .bouton.orange{
  margin-top: 30px;
  margin-bottom: 30px;
}
#sect1 h5{
  line-height: 35px;
}

/*SECT2*/

.images {
  position: relative;
  vertical-align: top; 
  width: 100%;
  height: auto;
  border-radius: 25px;
  margin: 20px;
  padding: 0 20px 0 20px; /*écart interne entre les images gauche et droite*/
}
.images figure {
  position: relative;
  z-index: 2; /*ordre affichage fond blanc*/
  margin: 0;
  border-radius: 25px; 
}

.images img {
  max-width: 100%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.images figcaption {
  text-align: center;
  line-height: 25px;
  font-size: 18px;
  padding: 20px; /*écart entre le texte du dessous et chaque image*/
}
.images figcaption p {
  font-size: 17px;
  text-align: center;
  justify-content: center;
  margin: 16px 0;
  padding: 0px 30px;
}

/*paragraphe 1er enfant pour grossir premier titre enfant */
.images figcaption p:nth-child(1) {
font-family: "OpenSans-Regular";
font-weight: 700;
font-size: 20px;
}

#sect2 #_plats{
  display: flex;
}
#_plats .images {
  width: 320px; 
  height: 300px;
}

#_plats .images::after{
content: "";
position: absolute;
width: 87%; /*permet de retirer les bords qui dépassent*/
height: 400px;
top:0;
left :20px;
z-index:1;
background-color: white;
border-radius: 25px;
box-shadow: 10px 5px 30px 5px rgba(0, 0, 0, 0.05);
}

#sect2 {
  background: url("../img/decor_1.svg") no-repeat; /*image étoile*/
  display: block; 
  background-position: 95% 2%; /* marge à droite se positionne à 95% sur la droite et 4% vers le bas du haut de la sect2*/
}

#sect2{
  text-align: center;
}
#sect2 ._titres {
  display: block;
  /*text-align: center;*/
}

#sect2 ._objets {
  justify-content: center;
  /*text-align: center;*/
}

#sect2 .images {
  margin-bottom: 150px; /*marge du bas écarts entre les images nouveaux plats et makis*/
}

#sect2 .filet {
  position: absolute;
  width: 75%;
  height: 60%;
  right: -115px;
  top: 125px;
  bottom: 0;
  z-index: 2;
}

/*MAKIS*/

#_makis .images {
  width: 270px; 
  height: 300px;
}
#_makis {
  box-shadow: none;
  background-color: transparent;
}

#_makis .images::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  background-color: #fff;
  border-radius: 25px;
  transition: opacity 0.2s;
  transition-delay: 0.1s;
}

#_makis .images:hover::after {
  opacity: 1;
  transition-delay: 0.2s;
}
/*rotation animation*/
.rot {
  position: absolute;
  width: 85px;
  height: 100px;
  margin-left: -160px; /*alignement sur la gauche */
  bottom: -40px; /*alignement sur le bas pour voir la rotation*/
  opacity: 0; /*L'élément est complètement transparent (invisible).*/
  transform: rotate(-90deg);
  transition: 0.3s;
}
.images:hover .rot {
  opacity: 1; /*L'élément est complètement visible opaque.*/
  transform: rotate(0deg);
  transition: 0.3s;
}
#sect3 h5{
  line-height: 30px;
  text-align: left;
}
/*SECT3*/
/*permet de mettre les 2 photos à la fois sur la section 3 et section 4*/
.translation_sect3_4 {
  position: absolute;
  left: 0px;
  bottom: -350px;
  z-index: 1;
  flex-wrap: nowrap;
}
.translation_sect3_4 img {
  margin: -4px; /*pour supprimer l'écart entre les 2 photos*/
}

#sect3 {
  padding-bottom: 450px;
  overflow: visible; /*La propriété CSS overflow est une propriété raccourcie qui définit comment gérer le
   dépassement du contenu d'un élément dans son bloc. Elle définit les valeurs des propriétés overflow-x et overflow-y. ici sera visible donc dépassement des photos*/
}

#sect3 article {
  width: 100%;
}

#sect3::after {
  background: url("../img/illustration_chef.jpg") no-repeat;
  background-size: cover;
}
#chef_mobile{
  display: none;
}

#sect3 .souligne_rose {
  /*dans le titre sous le mot voyage*/
  background: url("../img/souligne_rose.svg") no-repeat;
  background-position: 0px 20%; /*descend sous le mot voyage*/
  margin: 100px 0 40px 0; /*écart entre le lecteur vidéo et le titre et le paragraphe */
}

.lecteur_video {
  display: flex;
  position: relative;
  width: 350px;
  height: 180px;
}
#sect3 .lecteur_video img {
  max-width: 100%;
  border-radius: 20px;
}
.bouton_lect_video {
  display: flex;
  position: absolute;
  top: 50%; /*au centre du conteneur_video*/
  left: 50%; /*au centre du conteneur_video*/
  width: 80px;
  height: 80px;
  background: rgb(255, 255, 255);
  border-radius: 50%; /*pour faire un cercle*/
  cursor: pointer;
  transform: translate(-50%,-50%);
}

.bouton_lect_video img {
  margin: auto;
}
/*surlignage bouton lecteur vidéo*/
.bouton_lect_video:hover img {
  opacity: 0.9;
}

/*SECTION 4*/
#sect4 {
  padding-top: 400px;/*pour être en dessous des 2 photos qui dépassent*/
}
#sect4 article {
  max-width: 100%;
}

#sect4 {
  background: url("../img/illustration_commander.jpg") no-repeat;
  background-size: cover;
}
.moyens_cmd, .façon_cmd {
  display: block;
}
.moyens_cmd {
  margin-bottom: 50px;
}
.moyens_cmd .façon_cmd {
  margin-bottom: 40px;
}

.moyens_cmd a {
  text-decoration: none;
}

.moyens_cmd figure {
  margin: 0;
}

.moyens_cmd .façon_cmd {
  white-space: nowrap;
}

.moyens_cmd .façon_cmd img,
.moyens_cmd .façon_cmd figcaption {
  display: inline-block;
  vertical-align: middle;
}

.moyens_cmd .façon_cmd figcaption {
  margin: 0 0 0 25px; /*texte retrait gauche pour les 3 images Ubereats Jadoo Livraison*/
  padding: 0 60px 0 0;
}

.moyens_cmd .façon_cmd figcaption p {
  margin: 0; /*écart entre les 3 logos et titre commandez sur le site de jadoo*/
  white-space: normal;
}

.moyens_cmd .façon_cmd figcaption p:not(:last-child) {
  margin-bottom: 5px; /*écart entre les lignes */
}

.moyens_cmd .façon_cmd img {
  width: 70px; 
  height: 70px;
}
/*FORMULAIRE sect5*/

._formulaire {
  display: table;
  width: 100%;
  box-shadow: 0px 4px 61px 10px rgba(0, 0, 0, 0.05);
  border-radius: 30px;
  max-width: 1300px;
  margin: auto;
}
/*titre*/
._formulaire h5 {
  font-size: 18px;
  line-height: 5px;
  padding: 20px 0 40px;
}

.form_gauche_donnees, .form_droite_image{
  display: table-cell;
  vertical-align: top;
  width: 50%;
  height: 100%;
  text-align: left;
}

.form_gauche_donnees {
  padding: 50px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.form_gauche_donnees {
  text-align: left;
}
.formulaire_nom_prenom .formulaire_contact {
  display: inline-block;
  width: 45%;
}

.formulaire_contact {
  margin: 0 0 20px;
  border-bottom: 1px solid rgb(218, 213, 213);
}
.formulaire_contact label {
  margin: 0 0 10px;
}
.formulaire_contact label,.formulaire_contact input {
  display: block;
  font-size: 20px;
}
.formulaire_contact:hover input {
  transform: scale(1.02);
}
.formulaire_contact input {
  margin: 0;
  padding: 0 0 20px; /*écartement entre les rubriques*/
  color: #e91f1f;
  width: 100%;
  border:none;
  outline: none;
  font-size: 16px;
  transition: transform 0.2s;
}
/*La pseudo-classe :focus permet de cibler un élément lorsque celui-ci reçoit le focus
   (soit il est sélectionné à l'aide du clavier, soit il est activé avec la souris comme par exemple le champ d'un formulaire).*/
.formulaire_contact input:focus {
  margin: 0 0 -10px;
  padding: 0 0 10px; /*aggrandit la petite fenêtre lorsque l'on clique sur l'élément du formulaire*/
  border-bottom: 1px solid #1519f3; /*surligne en bas en bleu quand on clique dans la case*/
  transform: scale(1.02);
}
/* décalage bouton dans le formulaire*/
.bouton.bouton_envoyer {
  margin: 40px 0px 20px 50px; 
  border-radius: 10px;
  background-color: #007AFF;
  box-shadow: 0px 5px 80px 10px rgb(214, 214, 219); /*ombre et transparence*/
  font-size: 18px;
}
/*écart entre la côche et le span mot "envoyer" bouton bleu dans le formulaire*/
.bouton.bouton_envoyer img {
  margin: 0 20px 0 0;
}
.form_droite_image {
  background-image: url("../img/illustration_formulaire.jpg");
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
#sect5 {
  text-align: center;
  background-color: white;
}

#sect5 h5 {
  line-height: 25px;
}
#sect5 h2{
  margin-bottom: 50px;
}


/*footer*/

footer section {
  padding: 0;
}

footer {
  background-color: #f3f3f3da;
  padding: 100px 8% 20px;
}

footer .copyright {
  margin: 0;
  font-size: 13px;
  font-weight: 500;
  text-align: center;
}

footer .categorie_footer {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 25px 0 25px;
}

footer p{
  font-size: 21px;
  line-height: 30px;
}

/*bouton google play et apple*/
.telecharger * {
  /*tout les boutons*/
  display: inline-block;
  vertical-align: middle;
}

.telecharger {
  width: 120px;
  height: 35px;
  background-color: black;
  padding:5px 10px;
  color: white;
  border: 1px solid none;
  border-radius: 20px;
  font-size: 10px;
}
.telecharger img{
margin: 0 5px 0 5px;
}

#footer_telechargements .logo_UberEats {
  height: 70px;
}

#logo_jadoo_footer .logo {
  display: block;
  height: auto;
  margin-bottom: 30px;
}

#logo_jadoo_footer .logo img {
  height: 60px;
}
#footer_telechargements .logo_UberEats{
  height: 70px;
}
#guide_footer div {
  display: inline-block; /*on met les 2 divs côte à côte*/
  vertical-align: top; /*aligne en haut*/
}
#guide_footer .guide_titre {
  font-size: 30px;
  font-family: poppins-bold;
}
footer p a{
  text-decoration: none;
  color:#5e6282
}
footer p a:hover{
  text-decoration: underline;
}
#guide_footer p {
  margin: 0;
}
#guide_footer .guide_titre:not(:last-child) {
  margin: 0 0 40px; /*écartement vertical titre et paragraphes situés en dessous*/
}
#guide_footer p:not(:last-child) {
  margin: 0 0 10px;/*écartement vertical entre les paragraphes*/
}
#guide_footer div:not(:last-child) {/*écart horizontal entre les titres*/
  margin: 0 100px 0 0;
}
#footer_telechargements p {
  margin: 25px 0 30px;/*écartement bouton uberEats et le paragraphe télécharger UberEats*/
}





  

 
  
